<div class="page__footer-follow">
    <ul class="social-icons">
      {% for link in site.footer.links %}
        <li>
          <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
            <i class="{{ link.icon }}" aria-hidden="true"></i> {{ link.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="page__footer-copyright">
    © {{ site.time | date: '%Y' }} Gautam Maurya.
  </div>
  <img src="https://komarev.com/ghpvc/?username=gtmaur&label=Website%20Views&color=0e75b6&style=flat" alt="Visitor count">
