<div class="page__footer-follow">
    <ul class="social-icons">
      {% for link in site.footer.links %}
        <li>
          <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
            <i class="{{ link.icon }}" aria-hidden="true"></i> {{ link.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="page__footer-copyright">
    © {{ site.time | date: '%Y' }} Gautam Maurya.
  </div>

<script type="text/javascript" src="https://free-hit-counters.net/count/jay2"></script><br>
 <a href='https://www.versicherungen.at/private-krankenversicherung/'>Krankenversicherung Vergleich</a> <script type='text/javascript' src='https://whomania.com/ctr?id=04685552ac24cc35a5dc68b8e3dca7d34e594e4d'></script>
